body {
    position: relative;
    margin: 0;
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background: rgb(20, 97, 128);
}

.background * {
    background: rgb(20, 97, 128);
    width: 10%;
    height: 5%;
    transition: all 2s ease;
}